@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/css/satoshi.css');

:root {
    --color-dark-slate: #1A202C;
    --color-light-accent: #F7FAFC;
    --font-sans: var(--font-inter);
}

body {
    background-color: var(--color-light-accent);
    color: var(--color-dark-slate);
    font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi-Variable', 'Satoshi-Regular', var(--font-satoshi), var(--font-inter), sans-serif;
}